<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SubsDownloaderPath" value="e:\programs\SubsDownloader\SubsDownloader.exe"/>
    <add key="SubsDownloaderAutoDownload" value="true"/>
    <add key="MovieInfoPath" value="e:\programs\MovieInfo\MovieInfoCmd.exe"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>